body {
  box-sizing: border-box;
  background-image: linear-gradient(
    -45deg,
    rgb(0, 27, 100),
    rgb(35, 74, 180),
    rgb(80, 119, 226)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.container {
  padding: 20px;
  margin: 120px auto;
  min-height: 400px;
  max-width: 500px;
  border: 4px solid rgb(0, 27, 100);
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 27, 100);
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

button {
  margin: 20px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(52, 97, 219);
  background-color: rgb(0, 27, 100);
  color: rgb(166, 187, 245);
  box-shadow: 2px 2px 6px rgb(166, 187, 245);
  cursor: pointer;
}

#player-el {
  color: white;
  font-weight: bold;
}
